mixin groupTitle(name, active)
  h2.group-title(class=active ? 'active' : '')!=counter + '. ' + name
  -counter++;

mixin listHeading(name)
  .list-heading: h3.list-title!=name

mixin contentList(list, noImg, noViSub, noCounter, noEnSub)
  each item, index in list
    if (noCounter)
      +item(item[0], item[1], noImg ? noImg : item[2], noViSub ? noViSub : item[3], item[4], noEnSub)
    else
      +item(item[0], (index+1) + '. ' + item[1], noImg ? noImg : item[2], noViSub ? noViSub : item[3], item[4], noEnSub)

mixin item(url, screenName, img, noViSub, type, noEnSub)
  - url = './film.html?name=' + url + '&screenName=' + screenName
  - if (type) url += '&type=' + type
  - if (noViSub) url += '&noViSub=' + noViSub
  - if (noEnSub) url += '&noEnSub=' + noEnSub
  li
    a(href=url)
      .thumbnail
        .movie-img: img(src=img)
        .caption!=screenName
  // li.full: p: a(href=url)!=screenName